body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

img {
  height: 60%;
  width: 40%;
  position: relative;
  left: 0%;
  display: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 16px;
}

input[type='text'] {
  width: 80%;
  padding: 7px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.weather-info {
  margin-top: 20px;
  margin-right: 15%;
  display: inline-block;
}

.description {
  margin-top: 30px;
  font-size: 14px;
}

.container {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(
    to top right,
    rgba(49, 184, 247, 0.534),
    rgba(235, 240, 243)
  );
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 105px;
}
